@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand";
}

.content-wrap {
    min-height: 91.5vh;
}

*::-webkit-scrollbar {
    width: 8px;
    background-color: grey;
}

a {
    text-decoration: inherit;
    color: inherit;
}